<nav class="navbar sticky-top navbar-expand-md navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <!-- <i class="ac-icon"></i> -->
    <a class="navbar-brand me-auto" href="/home">artCollector</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-label="Toggle navigation"
    >
      <div class="navbar-toggler-icon"></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="me-auto">
        <ul class="navbar-nav">
          <% if (currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" id="nav-collection-link" href="/collection"
              >My Collection</a
            >
            <% } %>
          </li>
        </ul>
      </div>
      <div class="navbar-nav ms-auto">
        <ul class="navbar-nav">
          <% if (!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" id="nav-sign-in" href="/home">Sign in!</a>
            <% } else { %>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="nav-preferences-link" href="/preferences"
              >Preferences</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" id="nav-log-out" href="/logout">Log Out!</a>
            <% } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
