<% layout('layouts/boilerplate')%>

<h1> My Collection </h1>
    
<div>
    <a href="/new">Add a New Piece!</a>

</div>

<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Year</th>
            <th>Medium</th>
            <th>Acquired</th>
            <th>Archival</th>
            <th>For Sale</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="https://iiif.micr.io/TZCqF/full/1280,/0/default.jpg" style="max-width:100px; width:100%"> </td>
            <td>Van Gogh</td>
            <td>Sunflowers</td>
            <td>1888</td>
            <td>Oil on Canvas</td>
            <td>1932-11-11</td>
            <td>No</td>
            <td>No</td>

        </tr>

    </tbody>
</table>


</body>
</html>


