<% layout('layouts/boilerplate')%>

<style> 
/* remove validation icons */
.form-control.is-invalid, .was-validated .form-control:invalid  {
    background-image: none !important;
    border-color: #ced4da;
    padding-right: 0.75em;
    border-color: black !important;


}

.form-control.is-valid, .was-validated .form-control:valid  {
    background-image: none !important;
    border-color: #ced4da;
    padding-right: 0.75em;
    border-color: black !important;

}

.form-check-input {
  border-color: black !important;
}

.form-select:valid {
  border-color: black !important;
  --bs-form-select-bg-img: null; 
}

.was-validated .form-check-input:valid:checked {
  background-color: #0d6efd;
}


.form-check-input.is-valid:focus, .was-validated .form-check-input:valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb),.25);
}
</style>


<div class="row">
  <h1 class="text-center">Add a new piece</h1>
  <div class="col-8 offset-2">

<form class="row g-3 needs-validation" action="/collection" method="POST" novalidate >
  
<!-- Artist name -->
<div class="col-md-6">
    <label for="artist" class="form-label">Artist name:</label>
    <input type="text" class="form-control" id="artist" name="artist" placeholder="Author's name" required>
    <div class="invalid-feedback">
        Entering a name is required!
    </div>
</div>
<div class="col-md-6"></div>

<!-- Title, Year -->
<div class="col-md-6">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="What is the name of your piece?" required>
    <div class="invalid-feedback">
        Entering a title is required!
    </div>
</div>
<div class="col-md-6">
    <label for="year_finished" class="form-label">Year:</label>
    <input type="number" class="form-control" id="year_finished" name="year[0][year_finished]" placeholder="Year of origin" required>
    <div class="invalid-feedback">
        Entering a Year is required!
    </div>
</div>


<!-- to be unhidden with the checkbox below-->
<div class="col-md-5 " id="">
  <div class="collapse" id="year-started">
    <label for="year_started" class="form-label">Year Started:</label>
    <input type="number" class="form-control" id="year_started" name="year[0][year_started]" placeholder="Year of origin">
  </div>

</div>


<div class="col-md-2"> </div>

<!-- checkbox to unhide 'year started' attribute input -->
<div class="form-check col-md-5" >
  <input class="form-check-input " type="checkbox" value="" name="" id="multiyear" data-bs-toggle="collapse" data-bs-target="#year-started">
  <label class="form-check-label text-dark" for="multiyear">
    Is it a multi-year work? 
  </label>
</div>




<!-- Medium -->

<div class="col-md-6">
    <label for="medium" class="form-label">Medium:</label>
    <input type="text" class="form-control" id="medium" name="medium" placeholder="Is it oil on canvas?" required>
    <div class="invalid-feedback">
        Entering piece medium is required!
    </div>
</div>


<!-- Images -->

<div class="col-md-12">
  <label for="url" class="form-label" required>Image URL:</label>
  <input type="text" class="form-control" id="url" name="images[0][url]">
  <div class="invalid-feedback">
    Entering an URL is required!
</div>
</div>


<!-- Size -->

<label for="size-x" class="form-label">Size:</label>
        <div class="col-md-2" id="size-x"> 
            <input type="number" class="form-control" name="size[0][x]" placeholder="Width"  step=".01" >
        </div>
        <div class="col-md-2" id="size-y"> 
            <input type="number" class="form-control" name="size[0][y]" placeholder="Height"  step=".01" >
        </div>

        <!-- checkbox to unhide 'size-z' attribute input -->
        <div class="form-check col-md-2" >
          <input class="form-check-input" type="checkbox" id="is-3d" data-bs-toggle="collapse" data-bs-target="#size-z">
          <label class="form-check-label text-dark" for="is-3d">
            Add 'Depth' 
          </label>
        </div>

      <!-- to be uncollapsed with the checkbox above -->
        <div class="col-md-2 " id=""> 
          <div class ="collapse" id="size-z">
            <input type="number" class="form-control " name="size[0][z]" placeholder="Depth"  step=".01">
            </div>
        </div>

        <!-- need to put checkbox to hide/unhide size z here -->

      <div class="col-md-1"></div>

<div class="col-md-2">
  <label class="form-check-label" for="unit">Size unit:</label>
  <select class="form-select" id="unit" aria-label="Small select example" name="size[0][unit]">
    <!-- <option selected >Unit</option> -->
    <option value="cm">cm</option>
    <option value="in">in</option>
  </select>
</div>

<div class="col-md-1"></div>


<!-- For sale checkbox, Price -->

<label for="#for-sale-indent">For Sale:</label>

<div class="col-md-1" id="for-sale-indent"></div>
        <div class="form-check col-md-4">
    
          <input type="hidden" name="forSale" value="0"><input class="form-check-input" type="checkbox" id="is_forsale" onclick="this.previousElementSibling.value=1-this.previousElementSibling.value" data-bs-toggle="collapse" data-bs-target=".price"> 
          <label class="form-check-label text-dark" for="is_forsale">
            Is it, possibly, for sale?
          </label>
          
        </div>
        

<div class="col-md-4">
  <div class="collapse price" id="">
    <input type="number" class="form-control" id="" name="price[0][price]" placeholder="Price">
  </div>
</div>

<div class=" col-md-2">
  <div class="collapse price" id="">
    <select class="form-select" aria-label="Small select example" name="price[0][currency]">
      <option value="PLN">      PLN      </option>
      <option value="&#x20AC;"> &#x20AC; </option>
      <option value="&#36;"> 	  &#36;    </option>
    </select>
</div>
</div>


<!-- Description -->
<label for="description-div">Description:</label>

<div class="col-md-1"></div><div class="form-check col-md-11" id="description-div" >
  <input class="form-check-input" type="checkbox" value="" name="" id="description-checkbox" data-bs-toggle="collapse" data-bs-target="#description">
  <label class="form-check-label text-dark" for="description-checkbox">
    Do you want to add a description (or maybe a comment)?
  </label>
</div>

<div class="col-md-12">    
  <div class="collapse" id="description">
  <label for="description" class="form-label text-dark"> Description / Additional info: </label>
  <textarea type="text" class="form-control" id="" name="description" style="resize: none; height: 100px;"> </textarea>
    </div>
  </div>



<!-- Owner  -->

<label for="owner-check" class="form-check-label">Owner:</label>
<div class="form-check col-md-4" id="owner-check">
  <label class="form-check-label" for="self-owned">
    I am the owner of this piece
  </label>
  <input class="form-check-input" type="radio" name="owner[0][status]" value="self" id="self-owned"  checked="checked"  data-bs-toggle="collapse" data-bs-target=".owner-check">
</div>

<div class="form-check col-md-6">
  <label class="form-check-label" for="else-owned">
    Someone else is the owner of this piece
  </label>
  <input class="form-check-input" type="radio" name="owner[0][status]" value="else" id="else-owned" data-bs-toggle="collapse" data-bs-target=".owner-check">
</div>

    <!-- if someone else is the owner  -->

<div class="form-check col-md-5 ">
  <div class="owner-check collapse">
    <input type="text" class="form-control" name="owner[0][show_name]" id="owner" placeholder="Owner name">
  </div>
</div>


<div class="form-check col-md-6 ">
  <div class="owner-check collapse">
  <input type="text" class="form-control" name="owner[0][contact_info]" id="owner_contact" placeholder="Contact info">
  </div>
</div>

<div class="col-md-1"></div>


<!-- Is the piece currently held by someone that isn't the owner? If not so let holder = owner else{ -->

  <!-- Holder -->
  <!-- add double click prevention  -->

  <label for="holder-check" class="form-check-label">Holder:</label>
  <div class="form-check col-md-4" name="holder-check">
    <label class="form-check-label" for="self-held">
      I am the holder of this piece
    </label>
  <input class="form-check-input" type="radio" name="holder[0][status]" value="self" id="self-held" checked="checked" data-bs-toggle="collapse" data-bs-target=".holder-check" >
  </div>

  <div class="form-check col-md-6">
    <label class="form-check-label" for="else-held">
      Someone else is the holder of this piece
    </label>
    <input class="form-check-input" type="radio" name="holder[0][status]" value="else-held" id="else" data-bs-toggle="collapse" data-bs-target=".holder-check">
  </div>



      <!-- If someone else is the holder  -->

  <div class="form-check col-md-5">
    <div class="holder-check collapse">
      <input type="text" class="form-control" name="holder[0][show_name]" id="holder" placeholder="Holder name">
    </div>
  </div>

  <div class="form-check col-md-6">
    <div class="holder-check collapse">
      <input type="text" class="form-control" name="holder[0][contact_info]" id="holder_contact" placeholder="Contact info">
    </div>
  </div>

  <div class="col-md-1"></div>




<!-- Date of acquiration -->
  
  <label class="form-check-label" for="acquiration-date-field"> Acquiration Date: </label>
  <div class="col-md-5 form-check" name="acquiration-date-field"id="acquiration-date-field">
  <input type="date" class="form-control" name="acquiration_date" />
  </div>

<div class="col-md-7">

</div>


<!-- Catalogue number -->
<label class="form-check-label" for="catalogue-number-indent">Catalogue Number:</label>
<div class="col-md-1" id="catalogue-number-indent"></div>
  <div class="form-check col-md-4" name="holder-check">
    <label class="form-check-label" for="catalogue-check" id="has-catalogue-number">
      Do you want to enter a catalogue number?
    </label>
    <input class="form-check-input" type="checkbox" name="" value="" id="catalogue-check" data-bs-toggle="collapse" data-bs-target="#catalogue">
  </div>
  <div class="col-md-6">
    <div id="catalogue" class="collapse">
      <input type="text" class="form-control"  name="catalogue" placeholder="Catalogue number">
    </div>
  </div> 





<!-- Archival checkbox -->

<div class="col-md-7"></div>

<div class="form-check col-md-5">
  <input type="hidden" name="archival" value="0"><input class="form-check-input text-dark" type="checkbox" id="archival-check" onclick="this.previousElementSibling.value=1-this.previousElementSibling.value"> 
  <label class="form-check-label text-dark" for="archival-check">
      Mark this release as archival
  </label>
</div>



    <div class="col-12">
      <button class="btn btn-primary mb-5">Create a new piece</button>
    </div>

    <!-- Input the passes currentUser._id  -->

<input type="hidden" name="user_id" value="<%= currentUser._id.toString() %>">

    
  </form>

</div>
</div>





<script>




(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms)
    .forEach(function (form) {
    form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
        }

        form.classList.add('was-validated')
    }, false)
    })
})()


</script>

