<% layout('layouts/boilerplate')%>



<form class="needs-validation pb-5" action="" method="POST">

    <p> <b> Change Password: </b> </p>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="new_password" class="form-control" id="password" required>
        <label for="confirm_password" class="form-label">Confirm password:</label>
        <input type="password" class="form-control" id="confirm_password" required>
      </div>

    <button type="submit" class="btn btn-primary"  onclick="return confirm('Are you sure you want to change your password?')">Submit</button>

</form>




<script src="./public/javascripts/confirm_password.js"></script>