<% layout('layouts/boilerplate')%>

<div class="page-brand" id="preferences-page-brand">
  <p class="my-auto page-header" id="preferences-page-header">Preferences</p>
  </div>   
  <main class="container">

<form class="needs-validation pb-5" action="/preferences/edit?_method=PUT" method="POST" novalidate>
    <p> <b> Account info </b> </p>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address:</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=currentUser.email%>">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Login:</label>
        <input type="text" name="username" class="form-control"  id="username" aria-describedby="emailHelp" value="<%=currentUser.username%>">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

      </form>


      <form class="needs-validation pb-5" action="/preferences/edit?_method=PUT" method="POST" novalidate>
    <p><b>Personal data</b> </p>
    <span> (It will be used to fill in the gaps for you, while using this website)</span>

    <div class="mb-3">
        <label for="show-name" class="form-label">Your name and surname / The name of your enterprise:</label>
        <input type="text" name="show_name" class="form-control" id="show-name" aria-describedby="" placeholder="e.g. 'John Doe' or 'Reykjavík Vernacular Art Museum'" value="<%=currentUser.show_name%>">
      </div>
      <div class="mb-3">
        <label for="contact-info" class="form-label">Contact info that you want to be visible:</label>
        <input type="text" name="contact_info" class="form-control" id="contact-info" placeholder="e.g. '+48 604 444 245' or 'gallery@art.com'" aria-describedby="" value="<%=currentUser.contact_info%>">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<p><b>Export collection</b></p>
  <form action="/collection/export_collection" method="POST"><button class="btn btn-primary" >Export</button></form>
</div>


  <form class="needs-validation pb-5" action="/preferences/change_password?_method=PUT" method="POST">

    <p> <b> Change Password: </b> </p>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="new_password" class="form-control" id="password" required>
        <label for="confirm_password" class="form-label">Confirm password:</label>
        <input type="password" class="form-control" id="confirm_password" required>
      </div>

    <button type="submit" class="btn btn-primary"  onclick="return confirm('Are you sure you want to change your password?')">Submit</button>
</form>

<a class="btn btn-danger" href="preferences/deleteAcc" onclick="return confirm('Are you sure you want to delete your account?')">Delete account</a>


</main>
<script>

// password confirm validation
  const password = document.getElementById("password");
  const confirm_password = document.getElementById("confirm_password");
  
  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }
  
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
  
    </script>