<% layout('layouts/boilerplate')%>

<form action="/preferences/deleteAcc/confirmed?_method=DELETE" method="POST">
    <label for="password">If you wish to proceed, please confirm your password</label>
    <input type="password" name="password" class="form-control mb-3" id="password" placeholder="password" required>
    <input type="password" class="form-control mb-3" id="confirm_password" placeholder="confirm password"  required>
    <input type="hidden" name="username" value="<%= currentUser.username %>">
    <button class="btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete your account? There will be no coming back!')">Delete</button>
</form>








<script>

//password confirm validation
const password = document.getElementById("password");
  const confirm_password = document.getElementById("confirm_password");
  
  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }
  
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;


</script>