<% layout('layouts/boilerplate')%>

<h1> Create a new account </h1>
<form class="needs-validation" action="/register" method="POST" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address:</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control"  id="username" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" name="password" class="form-control" id="password" required>
      <label for="confirm_password" class="form-label">Confirm password:</label>
      <input type="password" class="form-control" id="confirm_password" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <script>

const password = document.getElementById("password");
const confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

  </script>