body{
    overflow-x: hidden
}

#navbar {
    background-color: #e2e1e1;
    background-color: rgba(167, 167, 167, 0.15); 
    transition: 0.6s;
    top: 0;
    width: 100% ;
}

.navbar-brand{
 color:rgba(33, 37, 41, 0.79)
}

.navbar-toggler{
    border-radius: 0 !important;
}

a {
    color: black;
    transition: color 0.1s;
    font-weight: 400;
    
}

a:hover,
a:focus {
    color: rgba(0, 0, 0, 0.382)
} 



a {
    color: black;
    transition: color 0.1s;
    font-weight: 400;
    
}

a:hover,
a:focus {
    color: rgba(0, 0, 0, 0.382)
}