

body{
    background-color: whitesmoke;
}

.hide{
    visibility: hidden;
}


/* table setting accordion styling */

#category-div{
    display:flex; 
    justify-content: flex-start;
}

.category-check{
    margin: 0.3em;
}

#collection-table_length{
    display: none !important;
}

/* search box styling */

#search-box:hover,
#table-settings-toggle:hover{
    cursor: pointer;
}

#collection-table_filter{
    display: none;
}

.search-accordion{
    visibility: hidden;
    opacity: 0;

    transition: left 0.2s, opacity 0.2s
}

.search-accordion.active{
    visibility: visible;
    opacity: 1;
    color: black;
    transition: left 0.2s, opacity 0.2s
}

.search-icon.active{
    visibility: hidden;
}
.search-icon{
    visibility: visible;
}

#collection-table_length{
display: none;}

#collection-table_length.active{
display: inline;}

/* table styling */

#collection-table{
    text-align: center;
    max-width: 100%
}

th {
    text-align: center !important;
}

.sorting{
    transform: translateX(0.9em);

}


@media all and (min-width: 1024px) and (max-width: 1280px) {
    
 }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {

 }